<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />


<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{bookList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</a></li>
				<li><a th:href="@{book/updateBook?id=}+${book.id}">Edit<i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<img alt="Book display image" th:src="@{/img/book/}+${book.id}+'.jpg'" class="img-responsive" />
						
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<h3 th:text="${book.title}"></h3>
				<div class="row">
					<div class="col-sm-6">
					 <p><strong>Author: </strong><span th:text="${book.author}"></span></p>
					 <p><strong>Publisher: </strong><span th:text="${book.publisher}"></span></p>
					 <p><strong>Publication Date: </strong><span th:text="${book.publicationDate}"></span></p>
					 <p><strong>Language: </strong><span th:text="${book.language}"></span></p>
					 <p><strong>Category: </strong><span th:text="${book.category}"></span></p>
					 <p><strong>Pages: </strong><span th:text="${book.numberOfPages}"></span></p>
					</div>
					
					<div class="col-sm-6">
					<p><strong>Format: </strong><span th:text="${book.format}"></span></p>
					 <p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
					 <p><strong>Shipping Weight: </strong><span th:text="${book.shippingWeight}"></span></p>
					 <p><strong>List Price: </strong><span th:text="${book.listPrice}"></span></p>
					 <p><strong>Our Price: </strong><span th:text="${book.ourPrice}"></span></p>
					 <p><strong>Number in Stock: </strong><span th:text="${book.inStockNumber}"></span></p>
					</div>
				</div>
				<hr/>
				<p><strong>Description: <br/></strong><span th:text="${book.description}"></span></p>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
